@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Cinzel:wght@500&family=Iceland&family=Port+Lligat+Slab&family=Sirin+Stencil&display=swap');

*{
    margin: 0;
    padding: 0;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6) url('../img/text.jpg') no-repeat center center/cover;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Alegreya SC', serif;
    height: 100vh;
    font-size: 4rem;
}
